body {
    background-color: darkslategray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    section {
        margin-bottom: 30px;
    }
    section#About {
        text-align: center;
    }
    section#Experience {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 20px;
        gap: 20px;
    }
    section#Connect {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 20px;
        gap: 20px;
    }
    h2 {
        font-size: 28px;
        font-weight: lighter;
        color: black;
    }
    h1 {
        font-family:'Times New Roman', Times, serif;
        text-transform: uppercase;
        color: gray;
        text-align: center;
    }
    * {
        outline: 2px solid black;
    }
    a {
        color: white;
    }
    a:hover {
        color: black;
    }
    a:visited {
        color: gray;
    }
}